{% extends 'index.html' %}
{% block content %}

<h1 style="text-align: center;font-size: 70PX;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">About Our Cosmetic Products</h1>
<p style="text-align: center;font-size: 20px;">Welcome to PEARLPERFECTION, your destination for premium cosmetics crafted to empower every expression of beauty. From flawless foundations and vibrant lip colors to nourishing skincare essentials, our products blend science, style, and sustainability. Whether you're going for a natural glow or a bold statement, our cruelty-free and skin-loving formulas are designed to elevate your everyday routine. Discover beauty that celebrates you — every shade, every style, every moment.
<br>
    <button type="button" class="btn btn-secondary" style="margin-left: 1200px;">MORE ABOUT US</button>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="../static/P22.webp" class="d-block w-100" alt="...">
    </div>
   
  </div>
 
</div>
</p>
{% endblock %}